*,
body,
html {
  font-family: "GT Walsheim Pro", sans-serif;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  --black: #a1a1a1;
  --white-back: #fff;
  --black-grey: #6b6969;
  list-style: none;
}

button, input {
  border: none;
  outline: none;
  padding: inherit;
  background-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
}

nav {
  z-index: 5;
  height: 100vh;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav h1 {
  text-transform: lowercase;
  font-size: 30px;
  margin: 30px;
}
nav h1 .title {
  color: var(--black-grey);
}
nav .menu-btn button {
  height: 47px;
  width: 47px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #969696;
  transition: transform 0.3s cubic-bezier(0.365, 0.305, 0, 1);
  z-index: 3;
}
nav .menu-btn button ion-icon {
  font-size: 25px;
  color: #969696;
}
nav .menu-btn button:hover {
  transform: scale(1.2);
  border-radius: 28px;
  position: relative;
}
nav .menu-btn button:hover ion-icon {
  position: absolute;
  transform: scaleY(1.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
nav .menu-btn .menu-status {
  margin-top: 24px;
  height: 90px;
  width: 100%;
}
nav .menu-btn .menu-status p {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #969696;
  margin-left: 50%;
  transform: translate(-50%) rotate(180deg);
}
nav .menu-btn .menu-status.close {
  display: none;
}
nav .social {
  position: absolute;
  bottom: 60px;
  width: 100%;
}
nav .social ul li {
  margin-bottom: 3px;
  height: 33px;
  width: 33px;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
}
nav .social ul li img {
  height: 16px;
  width: 16px;
  margin-left: 50%;
  transform: translate(-50%);
  transition: 0.3s ease;
}
nav .social ul li img:hover {
  margin-left: 0%;
  transform: translate(0);
}

header {
  z-index: -1;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
}
header .slider {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 75%;
  display: flex;
  transition: all 0.5s;
  margin-top: 12%;
}
header .slider .slide {
  width: 100vw;
  position: relative;
  min-height: 75vh;
}
header .slider .slide .round-time-bar {
  position: absolute;
  left: 75px;
  top: 20vh;
  width: 2px;
  background: #969696;
  height: 18vh;
}
header .slider .slide .round-time-bar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #010101;
  transform-origin: bottom;
  transform: scaleY(0);
}
header .slider .slide .picture {
  width: 64vw;
  height: 35vw;
  position: absolute;
  right: 0;
  top: 90px;
}
header .slider .slide .picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
header .slider .slide .content {
  position: absolute;
  left: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .slider .slide .content h2 {
  font-size: 180px;
}
header .slider .slide .content a {
  background-color: #010101;
  color: #fff;
  font-size: 12px;
  height: 48px;
  width: 240px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .slider .slide.active .round-time-bar::before {
  transform: scaleY(1);
  -webkit-animation: timeline 4.5s linear;
          animation: timeline 4.5s linear;
}

@-webkit-keyframes timeline {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes timeline {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
.slider-controller {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  right: 5vw;
  top: 5vw;
}
.slider-controller button {
  width: 43px;
  height: 43px;
}
.slider-controller button ion-icon {
  font-size: 15px;
  color: #969696;
}/*# sourceMappingURL=style.css.map */