*,
body,
html {
    font-family: "GT Walsheim Pro", sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;

    --black: #a1a1a1;
    --white-back: #fff;
    --black-grey: #6b6969;
    list-style: none;
}

button, input{
    border: none;
    outline: none;
    padding: inherit;
    background-color: rgba(255, 255, 255, 0);
}

a{
    text-decoration: none;
}

nav{
    z-index: 5;
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-transform: lowercase;
        // font-family: ;
        font-size: 30px;
        margin: 30px;

        .title{
            color: var(--black-grey);
        }
    }

    .menu-btn{
        button{
            height: 47px;
            width: 47px;
            border-radius: 24px;
            background-color: #fff;
            border: 1px solid #969696;
            transition: transform .3s cubic-bezier(0.365, 0.305, 0, 1);
            z-index: 3;

            ion-icon{
                font-size: 25px;
                color: #969696;
            }
        }

        button:hover{
            transform: scale(1.2);
            border-radius: 28px;
            position: relative;

            ion-icon{
                position: absolute;
                transform: scaleY(1.2);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .menu-status{
            margin-top: 24px;
            height: 90px;
            width: 100%;

            p{
                writing-mode: vertical-lr;
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
                color: #969696;
                margin-left: 50%;
                transform: translate(-50%) rotate(180deg);
            }
        }

        .menu-status.close{
            display: none;
        }
    }

    .social{
        position: absolute;
        bottom: 60px;
        width: 100%;

        ul{
            li{
                margin-bottom: 3px;
                height: 33px;
                width: 33px;
                margin-left: 50%;
                transform: translate(-50%);
                display: flex;
                align-items: center;
                
                
                img{
                    height: 16px;
                    width: 16px;
                    margin-left: 50%;
                    transform: translate(-50%);
                    transition: 0.3s ease;
                }
            }

            li img:hover{
                margin-left: 0%;
                transform: translate(0);
            }
        }
    }
}

header {
    z-index: -1;
    min-height: 100vh;
    height: fit-content;
    overflow-x: hidden;
    position: relative;
    // display: flex;

    .slider{
        width: fit-content;
        height: 75%;
        display: flex;
        transition: all 0.5s;
        margin-top: 12%;

        .slide{
            width: 100vw;
            position: relative;
            min-height: 75vh;

            .round-time-bar {
                position: absolute;
                left: 75px;
                top: 20vh;
                width: 2px;
                background: #969696;
                height: 18vh;
            }

            .round-time-bar::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
                background-color: #010101;
                transform-origin: bottom;
                transform: scaleY(0);
            }

            
            // .round-time-bar[data-style="smooth"] div {
            //     animation: roundtime calc(3.035s) linear infinite;
            // }

            .picture{
                width: 64vw;
                height: 35vw;
                position: absolute;
                right: 0;
                top: 90px;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .content{
                position: absolute;
                left: 22%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2{
                    font-size: 180px;
                }

                a{
                    background-color: #010101;
                    color: #fff;
                    font-size: 12px;
                    height: 48px;
                    width: 240px;
                    border-radius: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .slide.active{

            .round-time-bar::before {
                transform: scaleY(1);
                animation: timeline 4.5s linear;
            }
        }
    }
}

@keyframes timeline{
    from{
        transform:scaleY(0)
    }
    to{
        transform:scaleY(1)
    }
}

.slider-controller{
    position: absolute;
    height: fit-content;
    width: fit-content;
    display: flex;
    right: 5vw;
    top: 5vw;

    button{
        width: 43px;
        height: 43px;

        ion-icon{
            font-size: 15px;
            color: #969696;
        }
    }
}
