*,
body,
html {
  font-family: "GT Walsheim Pro", sans-serif;
  letter-spacing: normal;
  --black: #a1a1a1;
  --white-back: #fff;
  --black-grey: #6b6969;
  list-style: none;
}

header {
  z-index: 5;
  height: 100vh;
  width: 150px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top {
  width: 5px;
}

header .top h1 {
  text-transform: lowercase;
}

header .top .title {
  color: var(--black-grey);
}

header .round-time-bar {
  margin: 1rem;
  overflow: hidden;
  width: 3px;
  background: var(--black);
}

header .round-time-bar div {
  height: 18em;
  width: 3px;
  -webkit-animation: roundtime calc(3.2s) steps(7);
          animation: roundtime calc(3.2s) steps(7);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background: black;
}

header .round-time-bar[data-style="smooth"] div {
  -webkit-animation: roundtime calc(3.035s) linear infinite;
          animation: roundtime calc(3.035s) linear infinite;
}

@-webkit-keyframes roundtime {
  to {
    /* More performant than `width` */
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes roundtime {
  to {
    /* More performant than `width` */
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.sliding {
  z-index: -1;
  overflow-x: clip;
  position: absolute;
  top: 20%;
  left: 35%;
}

.sliding .diaporama {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-animation: slide 15.5s ease infinite 0s;
          animation: slide 15.5s ease infinite 0s;
  width: 500%;
  position: relative;
}

.sliding .diaporama .slider {
  width: 80%;
}

.sliding .diaporama div {
  position: absolute;
  margin-left: 30px;
  z-index: 5;
}

.sliding .diaporama h2 {
  position: absolute;
  font-size: 97.75px;
  line-height: 97.75px;
  text-align: left;
  bottom: 75%;
  -webkit-animation: slide 18.5s ease infinite 0s;
          animation: slide 18.5s ease infinite 0s;
  margin-left: -1%;
}

@-webkit-keyframes slide {
  0%,
  12.50%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20%,
  32.50% {
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }
  40%,
  52.50% {
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
  60%,
  72.50% {
    -webkit-transform: translate(-60%, 0);
            transform: translate(-60%, 0);
  }
  80%,
  92.50% {
    -webkit-transform: translate(-80%, 0);
            transform: translate(-80%, 0);
  }
}

@keyframes slide {
  0%,
  12.50%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20%,
  32.50% {
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }
  40%,
  52.50% {
    -webkit-transform: translate(-40%, 0);
            transform: translate(-40%, 0);
  }
  60%,
  72.50% {
    -webkit-transform: translate(-60%, 0);
            transform: translate(-60%, 0);
  }
  80%,
  92.50% {
    -webkit-transform: translate(-80%, 0);
            transform: translate(-80%, 0);
  }
}
/*# sourceMappingURL=style.css.map */